body.light {
  background-color: #f8f9fa;
  color: #343a40;
}

body.dark {
  background-color: #1c1c1e;
  color: #f0f0f0;
}
body.dark.filter,
body.dark ul,
body.dark li,
body.dark input,
body.dark textarea,
body.dark select,
body.dark button {
  background-color: #2a2a2c;
  color: white;
  border-color: #555;
}

